body {
    background-color: #FDF6DA;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #96B590;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}

li {
    display: inline;
}

li a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #FDF6DA;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #27353D; 
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #27353D; 
}

.active {
    background-color: #635C4B;
}




