:root {
    --main: #DA4454;
    --bg: #F4DD7F;
    --fonts: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: var(--bg);
    margin: 0;
}

h1 {
    font-family: var(--fonts);
    text-align: center;
    color: #27353D; 
}

p {
    font-family: var(--fonts);
    color: #27353D; 
}

h3 {
    color: #27353D;
    font-family: var(--fonts);
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #96B590;
    font-family: var(--fonts);
    font-size: x-large;
}

.navbar_li {
    display: inline;
}

.navbar_a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #FDF6DA;
}

.active {
    background-color: #635C4B;
}

.wrapper {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    background-color: #FDF6DA;
    grid-gap: 10px;
    color: #444;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.types {
    text-decoration: none;
}

header {
    background-color: var(--main);
    padding: .5%;
}

footer {
    background-color: var(--main);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: .2%;
    text-align: center;
    font-family: var(--fonts);
}