body {
    background-color: #FDF6DA;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #27353D; 
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #27353D; 
}

h3 {
    color: #27353D;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #96B590;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}

.navbar_li {
    display: inline;
}

.navbar_a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #FDF6DA;
}

.active {
    background-color: #635C4B;
}

.wrapper {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    background-color: #FDF6DA;
    grid-gap: 10px;
    color: #444;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}