<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css">
</head>
    
<body>
<h1>Quiz Time</h1>

<nav>
    <ul class="navbar">
        <div class="dropdown">
            <li class="navbar_li"><a href="/" class="{% block nav_index %}{% endblock %} navbar_a">Home</a></li>
            <div class="dropdown-content">
                <a href="/">abc</a>
                <a href="/">xyz</a>
                <a href="/">123</a>
            </div>
        </div>
        <li class="navbar_li"><a href="/quiz" class="{% block nav_quiz %}{% endblock %} navbar_a">Quiz</a></li>
        <li class="navbar_li"><a href="/data" class="{% block nav_data %}{% endblock %} navbar_a">Data</a></li>
        <li class="navbar_li"><a href="/results" class="{% block nav_results %}{% endblock %} navbar_a">Results</a></li>
        <li class="navbar_li"><a href="/personalities/main" class="{% block nav_personalities %}{% endblock %} navbar_a">Personalities</a></li>
    </ul>    
</nav>


{% block content %}{% endblock %}

<footer>
    <div class="footer">Made by Team "Two Peas and a Pod"</div>
</footer>
</body>



</html>