<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css">
</head>
    
<body>

<header>
    <h1>Myers Briggs Personality Quiz</h1>
</header>
    

<nav>
    <div class="navbar">
        <a href="/" class="{% block nav_index %}{% endblock %} navbar_a">Home</a>
        <a href="/quiz" class="{% block nav_quiz %}{% endblock %} navbar_a">Quiz</a>
        <a href="/data" class="{% block nav_data %}{% endblock %} navbar_a">Data</a>
        <a href="/results" class="{% block nav_results %}{% endblock %} navbar_a">Results</a>
        <div class="dropdown">
            <a href="/personalities/main" class="{% block nav_personalities %}{% endblock %} navbar_a">Personalities</a>
            <div class="dropdown-content">
                <a href="/personalities/entj">ENTJ</a>
                <a href="/personalities/intj">INTJ</a>
                <a href="/personalities/entp">ENTP</a>
                <a href="/personalities/intp">INTP</a>
                <a href="/personalities/enfj">ENFJ</a>
                <a href="/personalities/infj">INFJ</a>
                <a href="/personalities/enfp">ENFP</a>
                <a href="/personalities/infp">INFP</a>
                <a href="/personalities/estj">ESTJ</a>
                <a href="/personalities/istj">ISTJ</a>
                <a href="/personalities/esfj">ESFJ</a>
                <a href="/personalities/isfj">ISFJ</a>
                <a href="/personalities/estp">ESTP</a>
                <a href="/personalities/istp">ISTP</a>
                <a href="/personalities/esfp">ESFP</a>
                <a href="/personalities/isfp">ISFP</a>
            </div>
        </div>

        <div class="navbar_right">
            {% if user.is_authenticated: %}
                <a href="/results" class="navbar_a">Welcome, {{ user.username }} !</a>
                <a href="/logout" class="{% block nav_logout %}{% endblock %} navbar_a">Logout</a>
            {% else %}
                <a href="/login" class="{% block nav_login %}{% endblock %} navbar_a">Login</a>
            {% endif %}
        </div>    
    </div>
</nav>

<div class="body_wrapper">
{% block content %}{% endblock %}
</div>
<footer>
    Made by Team "Two Peas and a Pod"
</footer>
</body>



</html>
