{% extends 'base.html' %}

{% block title %}Data{% endblock %}
{% block nav_data %}active{% endblock %}

{% block content %}
<br>
<p>Each color represents the two opposing traits.<br>
Each trait sum is how often quiz questions were selected that corresponded to that trait.</p>
<img src="/summary_plot.png" alt="my plot">
<br>
<p>Description here...</p>
<img src="/EI_plot.png" alt="Extroverted vs Introverted trait">
<br>
<p>Description here...</p>
<img src="/SN_plot.png" alt="Sensor vs Intuitive trait">
<br>
<p>Description here...</p>
<img src="/TF_plot.png" alt="Thinker vs Feeler trait">
<br>
<p>Description here...</p>
<img src="/JP_plot.png" alt="Judger vs Perceiver trait">
<br>
<p>This is where we need to show data to user, and allow them to interact with it.</p>
    {% for post in posts %}
    <a href="#">
        <h2>{{ post['id'] }}</h2>
    </a>
    <p> Personality Type: {{ post['personalityType'] }}</p>
    <p> {{ post['sumE'] }} &nbsp;
        {{ post['sumI'] }} &nbsp;
        {{ post['sumS'] }} &nbsp;
        {{ post['sumN'] }} &nbsp;
        {{ post['sumT'] }} &nbsp;
        {{ post['sumF'] }} &nbsp;
        {{ post['sumJ'] }} &nbsp;
        {{ post['sumP'] }}</p>
    <hr>
    {% endfor %}
{% endblock %}