{% extends 'base.html' %}

{% block title %}Data{% endblock %}
{% block nav_data %}active{% endblock %}

{% block content %}
<div class="center">
    <br>
    <h2 class=>How do you compare to everybody else?</h2>
    <p>If you haven't taken the Myers-Briggs Personality Quiz yet, you should <a href="quiz">take it now</a>!</p>

    <h3>What are the most dominant traits?</h3>
    <p>The following graph demonstrates which individual traits were <b>most popular</b> and <b>least popular</b>. Each color represents two opposing traits.</p>
    <div class="datagraph">
        <img src="/summary_plot.png" alt="my plot">
    </div>
    <br><br>
    <h3>How common are my traits to others?</h3>
    <p>The next graphs depict the classification between each of the two opposing traits.</p>
    <div class="datagraph">
        <img src="/EI_plot.png" alt="Extroverted vs Introverted trait">
    </div>
    <br><br>
    <div class="datagraph">
        <img src="/SN_plot.png" alt="Sensor vs Intuitive trait">
    </div>
    <br><br>
    <div class="datagraph">
        <img src="/TF_plot.png" alt="Thinker vs Feeler trait">
    </div>
    <br><br>
    <div class="datagraph">
        <img src="/JP_plot.png" alt="Judger vs Perceiver trait">
    </div>
    <br><br>

    <br>
    <i>The data used to make these graphs are from those that completed a personality quiz here.</i>
    <br><br>
</div>
{% endblock %}
