{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block nav_index %}active{% endblock %}


{% block content %}
<div class="center">
    <h3>The Myers-Briggs Type Indicator (MBTI) is intended to provide insight into how your behavior is due to how you use your perception and judgement.</h3>

    <p>Interested in finding out your MBTI? <a href="/login">Login</a> and take the <a href="/quiz">personality quiz!</a></p>

    <p style="line-height: 120%;">Keep in mind that <i>personality</i> is just one of many factors that guide our behavior. Our environment, experiences, and individual goals also influence our behavior. <br>Even if you share a personality type with others, significant differences can still exist among you.</p>

    <h4 style="font-size: 110%;">Your personality type is meant to help you <i>understand</i> some of your behaviors, not guide them.</h4>

    <p>A lot of resources are available to learn how to interpret your MBTI. <br><a href="https://www.16personalities.com/articles/our-theory">16personalities.com</a> has a system with two layers: roles and strategies. <br><a href="https://www.myersbriggs.org/">myersbriggs.org</a> discusses how your MBTI can be used in finding careers and improving relationships.</p>

    <p>Analysis has been done with MBTIs and other demographics. The amount of research with MBTIs is extensive!</p>

    <img class="home-image" src="../static/TypeInPopulation.png"
        alt="Personality Type Distribution in the General Population" />
    <br>
    <img class="home-image" src="../static/TypeInPopulationByGender.png"
        alt="Personality Type Distribution in the General Population By Gender" />
</div>

{% endblock %}