{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block nav_index %}active{% endblock %}


{% block content %}
<p>The Myers-Briggs Type Indicator (MBTI) is intended to provide insight into how your behavior is due to how you use your perception and judgement.</p>

<p>Interested in finding out your MBTI? <a href="/login">Login</a> and take the <a href="/quiz">personality quiz!</a></p>

<p>Keep in mind that <i>personality</i> is just one of many factors that guide our behavior. Our environment, experiences, and individual goals also influence our behavior. Even if you share a personality type with others, significant differences can still exist among you.</p>

<p>Your personality type is meant to help you <i>understand</i> some of your behaviors, not guide them.</p>

<p>A lot of resources are available to learn how to interpret your MBTI. <a href="https://www.16personalities.com/articles/our-theory">16personalities.com</a> has a system with two layers: roles and strategies. <a href="https://www.myersbriggs.org/">myersbriggs.org</a> discusses how your MBTI can be used in finding careers and improving relationships.</p>

<img src="../static/TypeInPopulation.png" alt="Personality Type Distribution in the General Population"/>

{% endblock %}