{% extends 'base.html' %}

{% block title %}Personalities{% endblock %}
{% block nav_personalities %}active{% endblock %}


{% block content %}
<p>There are 16 different personality types defined by the Myers Briggs Personality test. Click each box for a better description of each.</p>
<div class="wrapper">
    <a class="types" href="/personalities/entj"><div class="box">ENTJ - The Commander</div></a>
    <a class="types" href="/personalities/intj"><div class="box">INTJ - The Mastermind</div></a>
    <a class="types" href="/personalities/entp"><div class="box">ENTP - The Visionary</div></a>
    <a class="types" href="/personalities/intp"><div class="box">INTP - The Architect</div></a>
    <a class="types" href="/personalities/enfj"><div class="box">ENFJ - The Teacher</div></a>
    <a class="types" href="/personalities/infj"><div class="box">INFJ - The Counselor</div></a>
    <a class="types" href="/personalities/enfp"><div class="box">ENFP - The Champion</div></a>
    <a class="types" href="/personalities/infp"><div class="box">INFP - The Healer</div></a>
    <a class="types" href="/personalities/estj"><div class="box">ESTJ - The Supervisor</div></a>
    <a class="types" href="/personalities/istj"><div class="box">ISTJ - The Inspector</div></a>
    <a class="types" href="/personalities/esfj"><div class="box">ESFJ - The Provider</div></a>
    <a class="types" href="/personalities/isfj"><div class="box">ISFJ - The Protector</div></a>
    <a class="types" href="/personalities/estp"><div class="box">ESTP - The Dynamo</div></a>
    <a class="types" href="/personalities/istp"><div class="box">ISTP - The Craftsperson</div></a>
    <a class="types" href="/personalities/esfp"><div class="box">ESFP - The Entertainer</div></a>
    <a class="types" href="/personalities/isfp"><div class="box">ISFP - The Composer</div></a>
</div>

{% endblock %}