{% extends 'base.html' %}

{% block title %}Personalities{% endblock %}
{% block nav_personalities %}active{% endblock %}


{% block content %}
<h2>{{ p_type + " - " + info[0] }}</h2>
<p>{{ info[1] }}</p>
<ul>
    <li>
    {% if p_type[0] == "E" %}
    E - Extrovert: You tend to get energized by social interaction and prefer group activites.
    {% else %}
    I - Introvert: You tend to get exhausted by social interaction and prefer solitary activites. 
    {% endif %}
    </li>
    
    <li>
    {% if p_type[1] == "S" %}
    S - Sensing: You tend to have strong habits and focus on what is happening or has already happened.
    {% else %}
    N - Intuition: You tend to prefer novelty over stability and focus on hidden meanings and future possibilites.
    {% endif %}
    </li>

    <li>
    {% if p_type[2] == "T" %}
    T - Thinking: You tend to hide your feelings and see efficiency as more important than cooperation.
    {% else %}
    F - Feeling: You tend to be more empathic and less competitive and focus on social harmony and cooperation.
    {% endif %}
    </li>
    
    <li>
    {% if p_type[3] == "J" %}
    J - Judging: You tend to value clarity, predictability, and closure, and prefer structure and planning to spontaneity.
    {% else %}
    P - Perceiving: You tend to be a flexible, relaxed nonconformist and prefer to keep your options open.
    {% endif %}
    </li>
</ul>

<a href="/personalities/main">To Personalities page</a>

{% endblock %}